<div class="mid">
    <h4>Novo Equipamento</h4>
    <form action="/admin/listarequip/add" method="POST">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/img/dpema.png" class="img-fluid rounded-start" alt="Nome">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <label for="Equipamento">Equipamento</label>
                        <input type="text" id="eq" name="equip" placeholder="Digite seu equipamento" class="form-control">
                        <hr>
                        <label for="quantd">Quantidade: </label>
                        <input type="text" id="tb" name="quantd" placeholder="Digite a quantidade" class="form-control">
                        <hr>
                        <label for="marca">Marca: </label>
                        <input type="text" id="mc" name="marca" placeholder="Digite a marca" class="form-control">
                        <hr>
                        <label for="modelo">Modelo: </label>
                        <input type="text" id="md" name="modelo" placeholder="Digite o modelo" class="form-control">
                        <hr>
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
</div>
    <!--
    <div class="card-header">
        
        <label for="equip">Equipamento: </label>
        <div class="input-group mb-3">
            <select class="form-select" id="inputGroupSelect01">
                <option selected>Escolha o equipamento</option>
                <option value="1">Mouse</option>
                <option value="2">Teclado</option>
                <option value="4">Placa Mãe</option>
                <option value="5">Memória Ram</option>
                <option value="6">Processador</option>
                <option value="7">Pendrive</option>
            </select>
        </div>
       
        <label for="Equipamento">Equipamento</label>
        <input type="text" id="eq" name="equip" placeholder="Digite seu equipamento" class="form-control">
        <hr>
        <label for="quantd">Quantidade: </label>
        <input type="text" id="tb" name="quantd" placeholder="Digite a quantidade" class="form-control">
        <hr>
        <label for="marca">Marca: </label>
        <input type="text" id="mc" name="marca" placeholder="Digite a marca" class="form-control">
        <hr>
        <label for="modelo">Modelo: </label>
        <input type="text" id="md" name="modelo" placeholder="Digite o modelo" class="form-control">
        <hr>
        <button type="submit" class="btn btn-success">Cadastrar</button>
    </div>    
</form>