.mid {
    padding-left: 27%;
    box-shadow: 150%;
}
.navbar navbar-expand-lg navbar-light{
    color: honeydew;
}

.card {
    display: inline-block;
}
.card-body {
    margin-left: 15px;
    display: inline-block;
}